In [3]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('project.db')

# Write the SQL query to list all tables
query = "SELECT name FROM sqlite_master WHERE type='table';"

# Execute the query and fetch the results
cursor = conn.cursor()
cursor.execute(query)
tables = cursor.fetchall()

# Print the list of tables
for table in tables:
    print(table[0])

# Close the connection
conn.close()

authors
books

In [4]:
conn = sqlite3.connect('project.db')

query = "SELECT * FROM authors"

df = pd.read_sql_query(query, conn)

print(df)

conn.close()

                              author_id     first        last
0  10f88232-1ae7-4d88-a6a2-dfcebb22a596    Harper         Lee
1  c3a47e85-2a6b-4196-a7a8-8b55d8fc1f70    George      Orwell
2  e0b75863-866d-4db4-85c7-df9bb8ee6dab  F. Scott  Fitzgerald
3  7b144e32-7ff4-4b58-8eb0-e63d3c9f9b8d    Aldous      Huxley
4  8d8107b6-1f24-481c-8a21-7d72b13b59b5      J.D.    Salinger
5  0cc3c8e4-e0c0-482f-b2f7-af87330de214       Ray    Bradbury
6  4dca0632-2c53-490c-99d5-4f6d41e56c0e      Jane      Austen
7  16f3e0a1-24cb-4ed6-a50d-509f63e367f7    J.R.R.     Tolkien
8  06cf58ab-90f1-448d-8e54-055e4393e75c    J.R.R.     Tolkien
9  6b693b96-394a-4a1d-a4e2-792a47d7a568      J.K.     Rowling

In [6]:
# Connect to the SQLite database
conn = sqlite3.connect('project.db')

# Write the SQL query
query = "SELECT * FROM books"

# Execute the query and load the data into a DataFrame
df = pd.read_sql_query(query, conn)

# Display the DataFrame
print(df)

# Close the connection
conn.close()

                                book_id  \
0  d6f83870-ff21-4a5d-90ab-26a49ab6ed12
1  0f5f44f7-44d8-4f49-b8c4-c64d847587d3
2  f9d9e7de-c44d-4d1d-b3ab-59343bf32bc2
3  38e530f1-228f-4d6e-a587-2ed4d6c44e9c
4  c2a62a4b-cf5c-4246-9bf7-b2601d542e6d
5  3a1d835c-1e15-4a48-8e8c-b12239604e98
6  c6e67918-e509-4a6b-bc3a-979f6ad802f0
7  be951205-6cc2-4b3d-96f1-7257b8fc8c0f
8  dce0f8f2-d3ed-48a9-b8ff-960b6baf1f6f
9  ca8e64c3-1e67-47f5-82cc-3e4e30f63b75

                                      title  year_published  \
0                     To Kill a Mockingbird            1960
1                                      1984            1949
2                          The Great Gatsby            1925
3                           Brave New World            1932
4                    The Catcher in the Rye            1951
5                            Fahrenheit 451            1953
6                       Pride and Prejudice            1813
7                                The Hobbit            1937
8                     The Lord of the Rings            1954
9  Harry Potter and the Philosopher's Stone            1997

                              author_id
0  10f88232-1ae7-4d88-a6a2-dfcebb22a596
1  c3a47e85-2a6b-4196-a7a8-8b55d8fc1f70
2  e0b75863-866d-4db4-85c7-df9bb8ee6dab
3  7b144e32-7ff4-4b58-8eb0-e63d3c9f9b8d
4  8d8107b6-1f24-481c-8a21-7d72b13b59b5
5  0cc3c8e4-e0c0-482f-b2f7-af87330de214
6  4dca0632-2c53-490c-99d5-4f6d41e56c0e
7  16f3e0a1-24cb-4ed6-a50d-509f63e367f7
8  06cf58ab-90f1-448d-8e54-055e4393e75c
9  6b693b96-394a-4a1d-a4e2-792a47d7a568